/* @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
    font-size: 16px;
}

body{
    /* font-family: 'DM Serif Text', serif; */
    font-family: 'Averia Serif Libre', cursive;
}


/* ####### menu #######*/

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 88vh;
    background-color: rgba(0, 0, 34, .9);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.div_logo{
    margin-top: 110px;
    width: 200px;
}

header img{
    width: 100%;
}

header ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: .16rem;
    text-transform: uppercase;
}

header a{
    color: white;
    text-decoration: none;
}

header ul li{
    /* margin-left: 40px; */
    padding: 0 2.1rem;
}

/* ####### menu fim #######*/

section{
    height: 100vh;
    width: 100%;
}

.section_1{
    /* margin-top: 12vh; */
    background-image: url("../images/fundos-section-1/fundo-1-1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom center;
    transition: 2s;
}

.section_1_main_div{

    background-color: rgba(0, 0, 0, 0.301);
    height: 100vh;
    width: 100%;
    /* display: flex;
    justify-content: flex-end;
    align-items: flex-start; */
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.title{
    padding: 8.125rem 2rem;
}

.title h1{
    font-size: 6rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 6px;
    /* border: solid 1px rgb(36, 12, 75); */

}

.title h2{
    /* border: solid 1px red; */
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
    padding-left: 4px;
}

.home_medias{
    padding: 20px;
    margin: 0 30px 30px 0;
    font-size: 1.7rem;
    display: flex;
    /* height: 40px; */
    align-items: flex-start;
    /* border: solid 1px red; */
    color: rgb(255, 255, 255);
}

.home_medias i{
    color: white;
    border-radius: 5px;
    padding: 2px;
    background-image: linear-gradient(to top, rgb(252, 175, 69), rgb(253, 29, 29), rgb(131, 58, 180));
}

.background_image_2{
    background-image: url("../images/fundo-2.jpg");
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
}

.background_color_transparent{
    background-color: rgba(0, 0, 0, 0.58);
    height: 100%;
    width: 100%;
}

/* FOTOS */

.section_fotos_main_div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.div_galeria{
    border:solid 2px red;
    width: 100%;
    height: 35vh;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.carrossel{
    /* border: solid 2px rgb(0, 255, 115); */
    display: flex;
    justify-content:
    center;
}

.carrossel div{
    background-color: blue;
    height: 33vh;
    width: 35%;
    border: solid 2px black;
}



/* CONTATO */

.section_contato_main_div{
    /* background-color: rgba(0, 0, 0, 0.58); */
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.contatos{
    font-size: 1.5rem;
    color: white;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* padding-left: 190px; */
    /* border: solid 2px red; */
    width: 65%;
}



.contatos h2{
    letter-spacing: 3px;
    padding: 40px 20px 0;
    color: rgb(224, 165, 55);

}

.contatos p{
    /* margin-top: 20px; */
    /* margin-bottom: 40px; */
    padding: 20px;
    letter-spacing: 2px;
    color: rgb(209, 209, 209);
}


@media (max-width:1135px){
    html{
        font-size: 13px;
    }
}